<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        # Console appender
        <Console name="console" target="SYSTEM_ERR">
            # Pattern of log message for console appender
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.vmware.bespin.scheduler.Simulation" level="error" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>